.box-error {
  margin-top: 1rem;
  font-size: 80%;
  background-color: var(--error-color);
  color: #fff;
  transition: all 800ms ease;
}
.box-info {
  margin-top: 1rem;
  font-size: 80%;
  background-color: var(--info-color);
  color: #fff;
  transition: all 800ms ease;
}
.box-error.is-active {
  display: block;
  animation-name: show-message;
  animation: 1s 1 normal 0s ease-out both;
}
.none {
  display: none;
}

.box-input {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  // align-items: center;
  // align-content: stretch;
}
.box-input-children {
  //background: #00b285;
  width: 100%;
  height: auto;
  //color: #fff;
  //margin: 30px;
  //padding: 20px;
  // font-size: 40px;
  //text-align: center;
  /*flex-grow: 1;
	flex-shrink: 0;*/
  flex: 1 1 auto;
}
