:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #7cf3ed;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --ok-color: #4caf50;
  --error-color: #cf7771;
  --info-color: #8d7dec;
  --container-width: 1200px;
  --dur: 0.3s;
}
