.none {
  display: none;
}

.asterisco {
  font-size: 1.8rem;
  width: 15px;
  //display: inline;
  //margin-left: 0px;
  margin-right: 10px;
}
.loaderjm {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: #dc3545;
}
.errorjm {
  padding: 1rem;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #dc3545;
}
