/******** Reset CSS *****/
:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #7cf3ed;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
  --dur: 0.3s;
}
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box; /* evita calcular el ancho y alto total de un elemento.*/
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth; /*especifica el comportamiento del desplazamiento para un elemento con desplazamiento,*/
  /* auto por defecto desplazamiento instantáneo */
  /* smooth La caja se desplaza suavemente*/
}
*,
*:before,
*.after {
  box-sizing: inherit;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  flex-grow: 1;
}
.main-container {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 992px;
}
.header {
  padding: 2rem;
  background-color: antiquewhite;
  position: fixed;
  z-index: -99;
  opacity: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
.logo img {
  width: 5rem;
  height: auto;
}
.logo {
  text-align: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 130%;
  padding: 20px;
}
.menu a {
  color: chocolate;
  padding: 0 1vw;
  transition: all 0.3s ease-in-out;
}

.menu a:hover {
  opacity: 0.75;
}

/*---------------      light dark     ----------*/
.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/*----------- Humburger -------*/
.humburger-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

/* ---------- el clima  - weather  cw------------------*/

.cwbody {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  /*
  height: 20vh;
  width: 40vh;*/
  background-image: linear-gradient(
    to right top,
    #99bbcb,
    #a5c7d7,
    #b1d4e2,
    #bde0ee,
    #c9edfa
  );
}
.cwbody h1 {
  margin: 0 auto;
  font-size: 1.2em;
  text-align: center;
  color: #fff;
}
.cwbody.sunny {
  background-image: linear-gradient(
    to right top,
    #ffb41d,
    #f9d423,
    #ff932b,
    #ffb41d,
    #f9d423
  );
}
.cwbody.cloudy {
  background-image: linear-gradient(
    to right top,
    #63747c,
    #71858e,
    #7f96a0,
    #8da8b2,
    #9bbac5
  );
}
.cwbody.rainy {
  background-image: linear-gradient(
    to right top,
    #52ec73,
    #63eb39,
    #4ae436,
    #3cfd56,
    #54d334
  );
}
.cwbody.clear {
  background-image: linear-gradient(
    to right top,
    #aedbd4,
    #90dcf3,
    #aae3f1,
    #93e6f5,
    #23b5f9
  );
}
.subhome {
  margin: 10px;
  font-size: 1.2em;
}
/* ----------- Form   contact-form---------*/
.section-formJM {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}
.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
.contact-form textarea {
  resize: none;
}
.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}
.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}
.contact-form ::placeholder {
  color: #000;
}
.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}
.contact-form-error {
  margin-top: 1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}
.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}
.none {
  display: none;
}
/*--------------- switchDark ---------------*/
.form-darkLight {
}
.body-darkLight,
.input-darkLight {
  color: hsl(0, 0%, 10%);
  font: 1em/1.5 sans-serif;
}
.form-darkLight,
.toggle:before,
.toggle:after {
  background: hsl(0, 0%, 90%);
}
.form-darkLight,
.toggle {
  position: relative;
}
.form-darkLight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}
.curtain,
.sr,
.toggle:before,
.toggle:after {
  position: absolute;
}
.curtain,
.toggle:before,
.toggle:after {
  transition: transform var(--dur);
}
.curtain,
.toggle:before,
.toggle:checked:after {
  transition-timing-function: ease-out;
}
.curtain,
.sr {
  top: 0;
  left: 0;
}
.curtain {
  background: hsl(0, 0%, 100%);
  mix-blend-mode: difference;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 50%;
}
.sr,
.toggle {
  overflow: hidden;
}
.sr {
  clip: rect(1px, 1px, 1px, 1px);
  color: transparent;
  width: 1px;
  height: 1px;
}
.toggle {
  background: currentColor;
  border-radius: 0.75em;
  cursor: pointer;
  width: 3em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.toggle:before,
.toggle:after {
  border-radius: 50%;
  content: "";
  display: block;
  top: 0.25em;
  left: 0.25em;
  width: 1em;
  height: 1em;
}
.toggle:before,
.toggle:checked:after {
  transition-delay: 0s;
}
.toggle:checked:before,
.toggle:after {
  transition-delay: calc(var(--dur) * 0.75);
  transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7);
}
.toggle:before {
  transform: translateX(-1.5em);
}
.toggle:checked:before {
  transform: translateX(1.5em);
}
.toggle:checked:after {
  transform: translateX(3em);
}
.toggle:checked ~ .curtain {
  transform: scaleX(1);
}
.toggle:focus {
  outline: transparent;
}
/* ----------- Media query ---------*/
@media (min-width: 600px) {
  .humburger-btn {
    display: none;
  }
  .header-content,
  .menu {
    flex-direction: row;
  }
  .header {
    padding: 5px;
  }
}
@media (min-width: 600px) {
  .header {
    position: relative;
    z-index: 999;
    opacity: 1;
  }
  .subhome {
    margin: 10px;
    font-size: 2em;
  }
}
