@charset "UTF-8";
.logoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px; }

.logo img {
  width: 5rem;
  height: auto; }

.logo {
  text-align: center; }

/*---------------      light dark     ----------*/
.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color); }

/*----------- Humburger -------*/
.humburger-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color); }

/* ---------- el clima  - weather  cw------------------*/
.cwbody {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  /*
  height: 20vh;
  width: 40vh;*/
  background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa); }

.cwbody h1 {
  margin: 0 auto;
  font-size: 1.2em;
  text-align: center;
  color: #fff; }

.cwbody.sunny {
  background-image: linear-gradient(to right top, #ffb41d, #f9d423, #ff932b, #ffb41d, #f9d423); }

.cwbody.cloudy {
  background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5); }

.cwbody.rainy {
  background-image: linear-gradient(to right top, #52ec73, #63eb39, #4ae436, #3cfd56, #54d334); }

.cwbody.clear {
  background-image: linear-gradient(to right top, #aedbd4, #90dcf3, #aae3f1, #93e6f5, #23b5f9); }

.subhome {
  margin: 10px;
  font-size: 1.2em; }

/*--------------- switchDark ---------------*/
.body-darkLight,
.input-darkLight {
  color: #1a1a1a;
  font: 1em/1.5 sans-serif; }

.form-darkLight,
.toggle:before,
.toggle:after {
  background: antiquewhite; }

.form-darkLight,
.toggle {
  position: relative; }

.form-darkLight {
  justify-content: center;
  align-items: center;
  height: 4vh; }

.curtain,
.sr,
.toggle:before,
.toggle:after {
  position: absolute; }

.curtain,
.toggle:before,
.toggle:after {
  transition: transform var(--dur); }

.curtain,
.toggle:before,
.toggle:checked:after {
  transition-timing-function: ease-out; }

.curtain,
.sr {
  top: 0;
  left: 0; }

.curtain {
  background: white;
  mix-blend-mode: difference;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 50%; }

.sr,
.toggle {
  overflow: hidden; }

.sr {
  clip: rect(1px, 1px, 1px, 1px);
  color: transparent;
  width: 1px;
  height: 1px; }

.toggle {
  background: currentColor;
  border-radius: 0.75em;
  cursor: pointer;
  width: 3em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent; }

.toggle:before,
.toggle:after {
  border-radius: 50%;
  content: "";
  display: block;
  top: 0.25em;
  left: 0.25em;
  width: 1em;
  height: 1em; }

.toggle:before,
.toggle:checked:after {
  transition-delay: 0s; }

.toggle:checked:before,
.toggle:after {
  transition-delay: calc(var(--dur) * 0.75);
  transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7); }

.toggle:before {
  transform: translateX(-1.5em); }

.toggle:checked:before {
  transform: translateX(1.5em); }

.toggle:checked:after {
  transform: translateX(3em); }

.toggle:checked ~ .curtain {
  transform: scaleX(1); }

.toggle:focus {
  outline: transparent; }

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out; }

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color); }

.hidden {
  visibility: hidden;
  opacity: 0; }

/* -----------Filter showcase---------------- */
.radio-buttonOff {
  display: none; }

.showcaseFilter {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.showcaseFilter-label {
  display: inline-block;
  color: chocolate;
  font-weight: bold;
  border: 1px solid #58571c;
  padding: 10px 20px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer; }

.showcaseFilter-label:hover {
  background-color: #657051; }

#showcaseshmJM:checked ~ #headerShowcaseFilter .shmJM,
#showcaseshmCarrusel:checked ~ #headerShowcaseFilter .shmCarrusel,
#showcaseshmJesadri:checked ~ #headerShowcaseFilter .shmJesadri,
#showcaseshmSwipper:checked ~ #headerShowcaseFilter .shmSwipper {
  background-color: #657051; }

.swiper-container {
  width: 50%;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px; }

.swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  background-position: center;
  background-size: cover;
  background-color: #4b4343;
  overflow: hidden;
  border-radius: 8px;
  padding: 30px; }

.picture {
  width: 120px;
  height: 200px;
  overflow: hidden; }

.picture img {
  display: block;
  font-size: 0.3px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.detail {
  padding: 5px;
  font-weight: 600;
  text-align: center; }

.detail h3 {
  margin: 0;
  font-size: 10px; }

.detail span {
  display: block;
  font-size: 12px;
  color: #f44336; }

.nodoPanelMobil {
  width: 50px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.nodoElementoCarruselDelantero {
  width: 50px;
  height: 100px;
  -webkit-transform: rotateY(0deg) translateZ(2.5px);
  position: absolute;
  background-color: black;
  border-radius: 4px;
  border: solid 2px black; }

.nodoElementoCarruselTrasero {
  width: 50px;
  height: 100px;
  -webkit-transform: rotateY(180deg) translateZ(2.5px);
  position: absolute;
  background-color: black;
  border-radius: 4px;
  border: solid 2px black; }

.nodoElementoCarruselLateralDerecho {
  width: 5px;
  height: 100px;
  -webkit-transform: rotateY(90deg) translateZ(48px);
  position: absolute;
  background-color: black;
  border-radius: 4px;
  border: solid 2px black; }

.nodoElementoCarruselLateralIzquierdo {
  width: 5px;
  height: 100px;
  -webkit-transform: rotateY(-90deg) translateZ(3px);
  position: absolute;
  background-color: black;
  border-radius: 4px;
  border: solid 2px black; }

.nodoImagenDelantera {
  width: 50px;
  height: 100px;
  border-radius: 4px; }

.nodoImagenTrasera {
  width: 50px;
  height: 100px;
  border-radius: 4px; }

.nodoImagenDerecha {
  width: 5px;
  height: 100px;
  border-radius: 4px; }

.nodoImagenIzquierda {
  width: 5px;
  height: 100px;
  border-radius: 4px; }

.nodoPanelBase > * {
  background: #d93f4e;
  background: -moz-linear-gradient(-45deg, #d93f4e 0%, #d93f4e 7%, #610404 17%, #360803 41%, black 83%, black 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #d93f4e), color-stop(7%, #d93f4e), color-stop(17%, #610404), color-stop(41%, #360803), color-stop(83%, black), color-stop(100%, black));
  background: -webkit-linear-gradient(-45deg, #d93f4e 0%, #d93f4e 7%, #610404 17%, #360803 41%, black 83%, black 100%);
  background: -o-linear-gradient(-45deg, #d93f4e 0%, #d93f4e 7%, #610404 17%, #360803 41%, black 83%, black 100%);
  background: -ms-linear-gradient(-45deg, #d93f4e 0%, #d93f4e 7%, #610404 17%, #360803 41%, black 83%, black 100%);
  background: linear-gradient(135deg, #d93f4e 0%, #d93f4e 7%, #610404 17%, #360803 41%, black 83%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d93f4e', endColorstr='#000000', GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d93f4e', endColorstr='#000000', GradientType=1);
  color: cornsilk;
  font-size: 9px;
  text-align: center;
  border: solid steelblue 1px;
  font-weight: bold;
  text-shadow: 0.1px 0.1px 0.1px black; }

.nodoPanelBase {
  width: 70px;
  height: 10px;
  transform-style: preserve-3d;
  margin-top: 55px;
  position: absolute;
  transform: translateX(-10px); }

.nodoBaseElementoCarruselArriba {
  width: 70px;
  height: 70px;
  -webkit-transform: rotateX(90deg) translateZ(35px);
  position: absolute; }

.nodoBaseElementoCarruselAbajo {
  width: 70px;
  height: 70px;
  -webkit-transform: rotateX(-90deg) translateZ(-5px);
  position: absolute; }

.nodoBaseElementoCarruselFrontal {
  width: 70px;
  height: 30px;
  -webkit-transform: translateZ(35px);
  position: absolute;
  border: solid steelblue 1px; }

.nodoBaseElementoCarruselTrasero {
  width: 70px;
  height: 30px;
  -webkit-transform: rotateY(180deg) translateZ(35px);
  position: absolute; }

.nodoBaseElementoCarruselLateralIquierdo {
  width: 70px;
  height: 30px;
  -webkit-transform: rotateY(-90deg) translateZ(35px);
  position: absolute; }

.nodoBaseElementoCarruselLateralDerecho {
  width: 70px;
  height: 30px;
  -webkit-transform: rotateY(90deg) translateZ(35px);
  position: absolute; }

.s1 {
  background: #ebeef0;
  background: -moz-linear-gradient(top, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ebeef0), color-stop(22%, #4891b3), color-stop(100%, #4891b3));
  background: -webkit-linear-gradient(top, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  background: -o-linear-gradient(top, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  background: -ms-linear-gradient(top, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  background: linear-gradient(to bottom, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeef0', endColorstr='#4891b3', GradientType=0); }

.s2 {
  background: rgba(235, 238, 240, 0.5);
  background: -moz-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(72, 145, 179, 0.5) 22%, rgba(72, 145, 179, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 238, 240, 0.5)), color-stop(22%, rgba(72, 145, 179, 0.5)), color-stop(100%, rgba(72, 145, 179, 0.5)));
  background: -webkit-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(72, 145, 179, 0.5) 22%, rgba(72, 145, 179, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(72, 145, 179, 0.5) 22%, rgba(72, 145, 179, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(72, 145, 179, 0.5) 22%, rgba(72, 145, 179, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(235, 238, 240, 0.5) 0%, rgba(72, 145, 179, 0.5) 22%, rgba(72, 145, 179, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeef0', endColorstr='#4891b3', GradientType=0); }

.s3 {
  background: #ebeef0;
  background: -moz-linear-gradient(top, #ebeef0 0%, #86b6cc 22%, #86b6cc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ebeef0), color-stop(22%, #86b6cc), color-stop(100%, #86b6cc));
  background: -webkit-linear-gradient(top, #ebeef0 0%, #86b6cc 22%, #86b6cc 100%);
  background: -o-linear-gradient(top, #ebeef0 0%, #86b6cc 22%, #86b6cc 100%);
  background: -ms-linear-gradient(top, #ebeef0 0%, #86b6cc 22%, #86b6cc 100%);
  background: linear-gradient(to bottom, #ebeef0 0%, #86b6cc 22%, #86b6cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeef0', endColorstr='#86b6cc', GradientType=0); }

.s4 {
  background: rgba(235, 238, 240, 0.5);
  background: -moz-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(134, 182, 204, 0.5) 22%, rgba(134, 182, 204, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 238, 240, 0.5)), color-stop(22%, rgba(134, 182, 204, 0.5)), color-stop(100%, rgba(134, 182, 204, 0.5)));
  background: -webkit-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(134, 182, 204, 0.5) 22%, rgba(134, 182, 204, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(134, 182, 204, 0.5) 22%, rgba(134, 182, 204, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(134, 182, 204, 0.5) 22%, rgba(134, 182, 204, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(235, 238, 240, 0.5) 0%, rgba(134, 182, 204, 0.5) 22%, rgba(134, 182, 204, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeef0', endColorstr='#86b6cc', GradientType=0); }

.s5 {
  background: #ebeef0;
  background: -moz-linear-gradient(top, #ebeef0 0%, #518196 22%, #518196 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ebeef0), color-stop(22%, #518196), color-stop(100%, #518196));
  background: -webkit-linear-gradient(top, #ebeef0 0%, #518196 22%, #518196 100%);
  background: -o-linear-gradient(top, #ebeef0 0%, #518196 22%, #518196 100%);
  background: -ms-linear-gradient(top, #ebeef0 0%, #518196 22%, #518196 100%);
  background: linear-gradient(to bottom, #ebeef0 0%, #518196 22%, #518196 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeef0', endColorstr='#518196', GradientType=0); }

.s6 {
  background: rgba(235, 238, 240, 0.5);
  background: -moz-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(81, 129, 150, 0.5) 22%, rgba(81, 129, 150, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 238, 240, 0.5)), color-stop(22%, rgba(81, 129, 150, 0.5)), color-stop(100%, rgba(81, 129, 150, 0.5)));
  background: -webkit-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(81, 129, 150, 0.5) 22%, rgba(81, 129, 150, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(81, 129, 150, 0.5) 22%, rgba(81, 129, 150, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(235, 238, 240, 0.5) 0%, rgba(81, 129, 150, 0.5) 22%, rgba(81, 129, 150, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(235, 238, 240, 0.5) 0%, rgba(81, 129, 150, 0.5) 22%, rgba(81, 129, 150, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeef0', endColorstr='#518196', GradientType=0); }

.s7 {
  background: white;
  background: -moz-linear-gradient(top, white 0%, #dde8d3 34%, #dde8d3 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(34%, #dde8d3), color-stop(100%, #dde8d3));
  background: -webkit-linear-gradient(top, white 0%, #dde8d3 34%, #dde8d3 100%);
  background: -o-linear-gradient(top, white 0%, #dde8d3 34%, #dde8d3 100%);
  background: -ms-linear-gradient(top, white 0%, #dde8d3 34%, #dde8d3 100%);
  background: linear-gradient(to bottom, white 0%, #dde8d3 34%, #dde8d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dde8d3', GradientType=0); }

.s8 {
  background: rgba(255, 255, 255, 0.5);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(221, 232, 211, 0.5) 34%, rgba(221, 232, 211, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(34%, rgba(221, 232, 211, 0.5)), color-stop(100%, rgba(221, 232, 211, 0.5)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(221, 232, 211, 0.5) 34%, rgba(221, 232, 211, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(221, 232, 211, 0.5) 34%, rgba(221, 232, 211, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(221, 232, 211, 0.5) 34%, rgba(221, 232, 211, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(221, 232, 211, 0.5) 34%, rgba(221, 232, 211, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dde8d3', GradientType=0); }

.s9 {
  background: white;
  background: -moz-linear-gradient(top, white 0%, #ebf5e2 34%, #ebf5e2 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(34%, #ebf5e2), color-stop(100%, #ebf5e2));
  background: -webkit-linear-gradient(top, white 0%, #ebf5e2 34%, #ebf5e2 100%);
  background: -o-linear-gradient(top, white 0%, #ebf5e2 34%, #ebf5e2 100%);
  background: -ms-linear-gradient(top, white 0%, #ebf5e2 34%, #ebf5e2 100%);
  background: linear-gradient(to bottom, white 0%, #ebf5e2 34%, #ebf5e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebf5e2', GradientType=0); }

.s10 {
  background: rgba(255, 255, 255, 0.5);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(235, 245, 226, 0.5) 34%, rgba(235, 245, 226, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(34%, rgba(235, 245, 226, 0.5)), color-stop(100%, rgba(235, 245, 226, 0.5)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(235, 245, 226, 0.5) 34%, rgba(235, 245, 226, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(235, 245, 226, 0.5) 34%, rgba(235, 245, 226, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(235, 245, 226, 0.5) 34%, rgba(235, 245, 226, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(235, 245, 226, 0.5) 34%, rgba(235, 245, 226, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebf5e2', GradientType=0); }

.s11 {
  background: white;
  background: -moz-linear-gradient(top, white 0%, #b4c2a7 34%, #b4c2a7 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(34%, #b4c2a7), color-stop(100%, #b4c2a7));
  background: -webkit-linear-gradient(top, white 0%, #b4c2a7 34%, #b4c2a7 100%);
  background: -o-linear-gradient(top, white 0%, #b4c2a7 34%, #b4c2a7 100%);
  background: -ms-linear-gradient(top, white 0%, #b4c2a7 34%, #b4c2a7 100%);
  background: linear-gradient(to bottom, white 0%, #b4c2a7 34%, #b4c2a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b4c2a7', GradientType=0); }

.s12 {
  background: rgba(255, 255, 255, 0.5);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(180, 194, 167, 0.5) 34%, rgba(180, 194, 167, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(34%, rgba(180, 194, 167, 0.5)), color-stop(100%, rgba(180, 194, 167, 0.5)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(180, 194, 167, 0.5) 34%, rgba(180, 194, 167, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(180, 194, 167, 0.5) 34%, rgba(180, 194, 167, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(180, 194, 167, 0.5) 34%, rgba(180, 194, 167, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(180, 194, 167, 0.5) 34%, rgba(180, 194, 167, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b4c2a7', GradientType=0); }

.s13 {
  background: white;
  background: -moz-radial-gradient(center, ellipse cover, white 0%, white 7%, #f5f5ce 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(7%, white), color-stop(100%, #f5f5ce));
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, white 7%, #f5f5ce 100%);
  background: -o-radial-gradient(center, ellipse cover, white 0%, white 7%, #f5f5ce 100%);
  background: -ms-radial-gradient(center, ellipse cover, white 0%, white 7%, #f5f5ce 100%);
  background: radial-gradient(ellipse at center, white 0%, white 7%, #f5f5ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5ce', GradientType=1);
  color: #616770;
  text-shadow: 0.1px 0.1px 0.1px blue; }

.s14 {
  background: rgba(255, 255, 255, 0.5);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(245, 245, 206, 0.5) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(7%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(245, 245, 206, 0.5)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(245, 245, 206, 0.5) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(245, 245, 206, 0.5) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(245, 245, 206, 0.5) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(245, 245, 206, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5ce', GradientType=1);
  color: #616770;
  text-shadow: 0.1px 0.1px 0.1px blue; }

.s15 {
  background: white;
  background: -moz-radial-gradient(center, ellipse cover, white 0%, white 7%, #fafadf 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(7%, white), color-stop(100%, #fafadf));
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, white 7%, #fafadf 100%);
  background: -o-radial-gradient(center, ellipse cover, white 0%, white 7%, #fafadf 100%);
  background: -ms-radial-gradient(center, ellipse cover, white 0%, white 7%, #fafadf 100%);
  background: radial-gradient(ellipse at center, white 0%, white 7%, #fafadf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafadf', GradientType=1);
  color: #616770;
  text-shadow: 0.1px 0.1px 0.1px blue; }

.s16 {
  background: rgba(255, 255, 255, 0.5);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(250, 250, 223, 0.5) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(7%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(250, 250, 223, 0.5)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(250, 250, 223, 0.5) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(250, 250, 223, 0.5) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(250, 250, 223, 0.5) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(250, 250, 223, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafadf', GradientType=1);
  color: #616770;
  text-shadow: 0.1px 0.1px 0.1px blue; }

.s17 {
  background: #ebeba7;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(7%, white), color-stop(100%, #ebeba7));
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, white 7%, #ebeba7 100%);
  background: -o-radial-gradient(center, ellipse cover, white 0%, white 7%, #ebeba7 100%);
  background: -ms-radial-gradient(center, ellipse cover, white 0%, white 7%, #ebeba7 100%);
  background: radial-gradient(ellipse at center, white 0%, white 7%, #ebeba7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebeba7', GradientType=1);
  color: #616770;
  text-shadow: 0.1px 0.1px 0.1px blue; }

.s18 {
  background: rgba(235, 235, 167, 0.5);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(7%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(235, 235, 167, 0.5)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(235, 235, 167, 0.5) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(235, 235, 167, 0.5) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(235, 235, 167, 0.5) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 7%, rgba(235, 235, 167, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebeba7', GradientType=1);
  color: #616770;
  text-shadow: 0.1px 0.1px 0.1px blue; }

#espacio {
  margin: 30px auto;
  height: 20%;
  -webkit-perspective: 600px; }

#giran {
  margin: 110px auto;
  width: 100px;
  padding: 0px;
  -webkit-animation-name: girando;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
  -webkit-transform-style: preserve-3d; }

#giran span {
  position: absolute; }

.primera {
  -webkit-transform: rotateY(0deg) translateX(1.6666666667em) rotatey(190deg); }

.segunda {
  -webkit-transform: rotateY(-60deg) translateX(1.6666666667em) rotatey(190deg); }

.tercera {
  -webkit-transform: rotateY(-120deg) translateX(1.6666666667em) rotatey(190deg); }

.cuarta {
  -webkit-transform: rotateY(-180deg) translateX(1.6666666667em) rotatey(190deg); }

.quinta {
  -webkit-transform: rotateY(-240deg) translateX(1.6666666667em) rotatey(190deg); }

.sexta {
  -webkit-transform: rotateY(-300deg) translateX(1.6666666667em) rotatey(190deg); }

#gifcambia1 {
  border: 2px solid yellow;
  position: absolute;
  margin-top: 100px; }

#gifcambia2 {
  border: 2px solid orange;
  margin-top: 100px;
  margin-right: 100px; }

#gifcambia1:hover {
  cursor: pointer;
  visibility: hidden; }

@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotatex(180deg); }
  25% {
    -webkit-transform: rotatey(180deg); }
  50% {
    -webkit-transform: rotatex(-180deg); }
  100% {
    -webkit-transform: rotatex(0deg); } }
@-webkit-keyframes girando {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg); } }
@-webkit-keyframes girando2 {
  from {
    -webkit-transform: rotatex(0deg); }
  to {
    -webkit-transform: rotatex(-360deg); } }
body {
  background-position: center;
  background-repeat: no-repeat; }

.panel {
  z-index: 1; }

#gifcambia1,
#gifcambia2 {
  visibility: hidden;
  z-index: 1; }

.img_responsive {
  width: 100%;
  height: auto; }

/*----------- Adrian ----------------------*/
.cajaMovil {
  height: 50%;
  width: 50%;
  position: relative;
  perspective: 7000px;
  transform-style: preserve-3d;
  /* ESTA ES LA LINEA QUE DEPENDE DEL TAMAÑO DEL DIV AL QUE SE INCLUYA 
    
        MODIFICANDO TRASLATE Y*/
  transform: translateY(-210px) translateZ(-80px); }

.cajaFrontal {
  width: 80px;
  height: 20px;
  transform: translateZ(20px);
  background-color: black; }

.infoMovil {
  position: absolute;
  width: 76px;
  height: 18px;
  transform: translateZ(21px) translateX(2px) translateY(1px);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 8px; }

.cajaTrasera {
  position: absolute;
  width: 80px;
  height: 20px;
  background-color: #828282;
  transform: rotateY(180deg); }

.cajaIzquierda {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #828282;
  transform: rotateY(90deg) translateZ(-10px) translateX(-10px) rotateY(180deg); }

.cajaDerecha {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #828282;
  transform: rotateY(90deg) translateZ(70px) translateX(-10px) translateY(0px); }

.cajaSuperior {
  position: absolute;
  width: 80px;
  height: 20px;
  transform: rotateX(90deg) translateZ(10px) translateY(10px);
  background-color: #828282; }

.cajaInferior {
  position: absolute;
  width: 80px;
  height: 20px;
  transform: rotateX(90deg) translateZ(-10px) translateY(10px);
  background-color: #828282; }

@keyframes girar {
  0% {
    transform: rotateY(0deg) translateX(0px); }
  50% {
    transform: rotateY(180deg) translateX(-43.5px); }
  100% {
    transform: rotateY(360deg) translateX(0px); } }
.movil {
  perspective: 7000px;
  transform-style: preserve-3d;
  animation: girar 20s infinite linear; }

.movil3d {
  height: 50%;
  width: 50%;
  position: relative;
  perspective: 7000px;
  transform-style: preserve-3d;
  transform: rotatex(30deg) translateZ(-30px) translateY(2px) translateX(10px); }

.caraFrontal {
  width: 60px;
  height: 100px;
  transform: translateZ(10px);
  background-color: aqua; }

.caraTrasera {
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: red;
  transform: rotateY(180deg); }

.caraIzquierda {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: bisque;
  transform: rotateY(90deg) translateZ(-5px) translateX(-5px) rotateY(180deg); }

.caraDerecha {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: aquamarine;
  transform: rotateY(90deg) translateZ(55px) translateX(-5px) translateY(0px); }

.caraSuperior {
  position: absolute;
  width: 60px;
  height: 10px;
  transform: rotateX(90deg) translateZ(5px) translateY(5px);
  background-color: green; }

.caraInferior {
  position: absolute;
  width: 60px;
  height: 10px;
  transform: rotateX(90deg) translateZ(-95px) translateY(5px);
  background-color: yellow; }

.soporteFrontal {
  position: absolute;
  width: 5px;
  height: 70px;
  transform: translateZ(5px);
  background-color: #828282; }

.soporteTrasera {
  position: absolute;
  width: 5px;
  height: 70px;
  background-color: #828282;
  transform: rotateY(180deg); }

.soporteIzquierda {
  position: absolute;
  width: 5px;
  height: 70px;
  background-color: #828282;
  transform: rotateY(90deg) translateZ(2.5px) translateX(-2.5px) rotateY(180deg); }

.soporteDerecha {
  position: absolute;
  width: 5px;
  height: 70px;
  background-color: #828282;
  transform: rotateY(90deg) translateZ(2.5px) translateX(-2.5px); }

.ventosa {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 300px;
  background-color: #828282;
  transform: rotateX(30deg) translateZ(24px) translateX(30px) translateY(-40px); }

.soporte {
  transform-style: preserve-3d;
  transform: translateX(37.5px) translateY(-50px); }

.product-image {
  float: left;
  width: 20%; }

.product-details {
  float: left;
  width: 37%; }

.product-price {
  float: left;
  width: 12%; }

.product-quantity {
  float: left;
  width: 10%; }

.product-removal {
  float: left;
  width: 9%; }

.product-line-price {
  float: left;
  width: 12%;
  text-align: right; }

/* This is used as the traditional .clearfix class */
.group:before,
.shopping-cart:before,
.column-labels:before,
.product:before,
.totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table; }

.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  clear: both; }

.group,
.shopping-cart,
.column-labels,
.product,
.totals-item {
  zoom: 1; }

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
  content: '$'; }

/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100; }

h1 {
  font-weight: 100; }

.column-labels label {
  color: chocolate; }

.shopping-cart {
  padding: 15px;
  margin-top: 10px;
  background-color: #f3ebea; }

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee; }

.column-labels .product-image,
.column-labels .product-details,
.column-labels .product-removal {
  text-indent: -9999px; }

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

.product .product-image {
  text-align: center; }

.product .product-image img {
  width: 100px; }

.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium"; }

.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em; }

.product .product-quantity input {
  width: 40px; }

.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px; }

.product .remove-product:hover {
  background-color: #a44; }

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px; }

.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right; }

.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right; }

.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium"; }

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #f75409;
  color: #fff;
  font-size: 25px;
  border-radius: 3px; }

.checkout:hover {
  background-color: #494; }

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee; }

  .column-labels {
    display: none; }

  .product-image {
    float: right;
    width: auto; }

  .product-image img {
    margin: 0 0 10px 10px; }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto; }

  .product-price {
    clear: both;
    width: 70px; }

  .product-quantity {
    width: 100px; }

  .product-quantity input {
    margin-left: 20px; }

  .product-quantity:before {
    content: 'x'; }

  .product-removal {
    width: auto; }

  .product-line-price {
    float: right;
    width: 70px; } }
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right; }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px; }

  .product .product-line-price:before {
    content: 'Item Total: $'; }

  .totals .totals-item label {
    width: 60%; }

  .totals .totals-item .totals-value {
    width: 40%; } }
*, *::after, *::before {
  box-sizing: inherit; }

* {
  font: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  box-sizing: border-box; }

body {
  background-color: var(--color-bg, white); }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main, form legend {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

button, input, textarea, select {
  margin: 0; }

.btn, .form-control, .link, .reset {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none; }

select.form-control::-ms-expand {
  display: none; }

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top; }

input::-ms-clear {
  display: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, video, svg {
  max-width: 100%; }

/******** Reset CSS *****/
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  /* evita calcular el ancho y alto total de un elemento.*/
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
  /*especifica el comportamiento del desplazamiento para un elemento con desplazamiento,*/
  /* auto por defecto desplazamiento instantáneo */
  /* smooth La caja se desplaza suavemente*/ }

*,
*:before,
*.after {
  box-sizing: inherit; }

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

img {
  max-width: 100%;
  height: auto; }

main {
  flex-grow: 1; }

:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #7cf3ed;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --ok-color: #4caf50;
  --error-color: #cf7771;
  --info-color: #8d7dec;
  --container-width: 1200px;
  --dur: 0.3s; }

.box-error {
  margin-top: 1rem;
  font-size: 80%;
  background-color: var(--error-color);
  color: #fff;
  transition: all 800ms ease; }

.box-info {
  margin-top: 1rem;
  font-size: 180%;
  background-color: var(--info-color);
  color: #fff;
  transition: all 800ms ease; }

.box-error.is-active {
  display: block;
  animation-name: show-message;
  animation: 1s 1 normal 0s ease-out both; }

.none {
  display: none; }

.box-input {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around; }

.box-input-children {
  width: 100%;
  height: auto;
  /*flex-grow: 1;
	flex-shrink: 0;*/
  flex: 1 1 auto; }

.main-container {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1592px;
  width: 90%;
  text-align: center; }

.header {
  padding: 2rem;
  background-color: antiquewhite;
  position: fixed;
  z-index: -99;
  opacity: 0; }

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.showcase {
  width: 80%;
  margin: 50px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../img/grid.png);
  background-repeat: repeat;
  border: 2px solid rgba(0, 0, 0, 0.1); }

.grid-fluid {
  margin: 1rem auto;
  height: auto;
  width: auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); }

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 130%;
  padding: 20px; }

.menu a {
  color: chocolate;
  padding: 0 1vw;
  transition: all 0.3s ease-in-out; }

.menu a:hover {
  opacity: 0.75; }

/* ----------- Form   contact-form---------*/
.label-frame-input {
  display: none; }

.section-formJM {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center; }

.harni-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.harni-form > * {
  padding: 0.3rem;
  margin: 0.5rem auto;
  display: block;
  width: 100%; }

.harni-form textarea {
  resize: none; }

.harni-form legend,
.harni-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; }

.harni-form input,
.harni-form textarea {
  font-size: 1.3rem;
  font-family: sans-serif; }

.harni-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer; }

.harni-form ::placeholder {
  color: #9c9191; }

.harni-form [required]:valid {
  border: thin solid var(--form-ok-color); }

.harni-form [required]:invalid {
  border: thin solid var(--form-error-color); }

.harni-form-error {
  margin-top: 1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease; }

.harni-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both; }

.none {
  display: none; }

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; }

.dado {
  width: 1.3em;
  height: 1.3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all ease 2s; }

.grande {
  font-size: 12em; }

.medio {
  font-size: 6em; }

.peque {
  font-size: 3em; }

.Imagen,
.cara {
  position: absolute;
  width: 1em;
  height: 1em; }

.harnina > .trasera {
  transform: rotateY(0deg); }

.harnina > .trasera:hover {
  transform: rotateY(180deg); }

.informatica {
  display: none; }

.informatica > .trasera {
  transform: rotateY(0deg); }

.informatica > .trasera:hover {
  transform: rotateY(180deg); }

.frontal {
  transform: rotateY(0) translateZ(0.5em); }

.trasera {
  transform: rotateY(180deg) translateZ(0.5em); }

.derecha {
  transform: rotateY(90deg) translateZ(0.5em); }

.izquierda {
  transform: rotateY(-90deg) translateZ(0.5em); }

.arriba {
  transform: rotateX(90deg) translateZ(0.5em); }

.abajo {
  transform: rotateX(-90deg) translateZ(0.5em); }

.contenido01 {
  width: 90%;
  margin: 30px auto;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(../img/grid.png);
  background-repeat: repeat;
  border: 2px solid rgba(0, 0, 0, 0.1); }

/* -----------------------------------
        MODIFICAR ANIMACION DADO
--------------------------------------
*/
.dado:hover {
  transform: rotateY(360deg) rotateX(360deg);
  transition: all ease 2s; }

/* -----------------------------------
         FIN CAMBIAR ANIMACION
--------------------------------------
*/
.dadoCatalogo {
  font-size: 2em;
  width: 90%;
  margin: 15px auto;
  display: flex;
  justify-content: end; }

.dadoCatalogo p {
  width: 90%;
  margin: 15px auto;
  font-family: monospace;
  font-size: 0.2em;
  text-align: center; }

.d1 > div {
  background: #ebeef0;
  background: -moz-linear-gradient(top, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ebeef0), color-stop(22%, #4891b3), color-stop(100%, #4891b3));
  background: -webkit-linear-gradient(top, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  background: -o-linear-gradient(top, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  background: -ms-linear-gradient(top, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  background: linear-gradient(to bottom, #ebeef0 0%, #4891b3 22%, #4891b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeef0', endColorstr='#4891b3', GradientType=0 );
  box-shadow: 0px 0px 15px #000 inset, 0px 0px 5px #000; }

.none {
  display: none; }

.asterisco {
  font-size: 1.8rem;
  width: 15px;
  margin-right: 10px; }

.loaderjm {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: #dc3545; }

.errorjm {
  padding: 1rem;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #dc3545; }

/* ----------- Media query ---------*/
@media screen and (min-width: 600px) {
  .humburger-btn {
    display: none; }

  .header-content,
  .menu {
    flex-direction: row; }

  .header {
    padding: 5px;
    position: relative;
    z-index: 999;
    opacity: 1; }

  .subhome {
    margin: 10px;
    font-size: 2em; }

  .harni-form {
    width: 60%; }

  .label-frame-input {
    display: block; }

  .dadoCatalogo {
    width: 40%;
    font-size: 7em; }

  .informatica {
    display: block; }

  .box-input-orientation {
    flex-direction: row; }

  .harni-form > * {
    display: inline; }

  .box-input-children {
    display: inline-block;
    width: auto;
    height: auto;
    /*flex-grow: 1;
	flex-shrink: 0;*/
    flex: 1 1 auto; }

  .box-input {
    flex-direction: row; }

  .nav_scm {
    flex-direction: row; } }
@media screen and (min-width: 800px) {
  .dadoCatalogo {
    width: 25%;
    font-size: 9em; }

  .nav_scm {
    flex-direction: row; }

  .swiper-container {
    width: 70%; }

  .detail h3 {
    font-size: 20px; }

  .detail span {
    font-size: 22px; } }
.footer {
  position: relative;
  width: 60%;
  margin: 50px auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(../img/grid.png);
  background-repeat: repeat;
  border: 2px solid rgba(0, 0, 0, 0.1);
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center; }

.showcaseJM {
  height: 100px;
  width: 50px; }

#pagination {
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  padding: 1px 2px 4px 2px;
  border-top: 1px solid #AEAEAE;
  border-bottom: 1px solid #FFFFFF;
  background-color: #DADADA;
  background-image: -webkit-linear-gradient(top, #DBDBDB, #E2E2E2);
  background-image: -moz-linear-gradient(top, #DBDBDB, #E2E2E2);
  background-image: -ms-linear-gradient(top, #DBDBDB, #E2E2E2);
  background-image: -o-linear-gradient(top, #DBDBDB, #E2E2E2);
  background-image: linear-gradient(top, #DBDBDB, #E2E2E2); }

#pagination a,
#pagination i {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  color: #7D7D7D;
  text-align: center;
  font-size: 10px;
  padding: 3px 0 2px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

#pagination a {
  margin: 0 2px 0 2px;
  border-radius: 4px;
  border: 1px solid #E3E3E3;
  cursor: pointer;
  box-shadow: inset 0 1px 0 0 #FFF, 0 1px 2px #666;
  text-shadow: 0 1px 1px #FFF;
  background-color: #E6E6E6;
  background-image: -webkit-linear-gradient(top, #F3F3F3, #D7D7D7);
  background-image: -moz-linear-gradient(top, #F3F3F3, #D7D7D7);
  background-image: -ms-linear-gradient(top, #F3F3F3, #D7D7D7);
  background-image: -o-linear-gradient(top, #F3F3F3, #D7D7D7);
  background-image: linear-gradient(top, #F3F3F3, #D7D7D7); }

#pagination i {
  margin: 0 3px 0 3px; }

#pagination a.current {
  border: 1px solid #E9E9E9;
  box-shadow: 0 1px 1px #999;
  background-color: #DFDFDF;
  background-image: -webkit-linear-gradient(top, #D0D0D0, #EBEBEB);
  background-image: -moz-linear-gradient(top, #D0D0D0, #EBEBEB);
  background-image: -ms-linear-gradient(top, #D0D0D0, #EBEBEB);
  background-image: -o-linear-gradient(top, #D0D0D0, #EBEBEB);
  background-image: linear-gradient(top, #D0D0D0, #EBEBEB); }

/*# sourceMappingURL=style.css.map */
