/* -----------Filter showcase---------------- */

.radio-buttonOff {
  display: none;
}

.showcaseFilter {
  display: flex;
    flex-direction: column;
  justify-content: center;
}


.showcaseFilter-label {
  display: inline-block;
  color:chocolate;
  font-weight: bold;
  border: 1px solid rgb(88, 87, 28);
  padding: 10px 20px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
}

.showcaseFilter-label:hover {
  background-color: #657051;
}

#showcaseshmJM:checked~#headerShowcaseFilter .shmJM,
#showcaseshmCarrusel:checked~#headerShowcaseFilter .shmCarrusel,
#showcaseshmJesadri:checked~#headerShowcaseFilter .shmJesadri,
#showcaseshmSwipper:checked~#headerShowcaseFilter .shmSwipper {
  background-color: #657051;
}
